$left-width: 80px;
$right-top-height: 70px;
$content-padding: 56px;
$content-bg: rgb(213, 220, 225);

$color-gray: rgb(187, 177, 189);
$color-primary: rgb(82, 161, 216);
$color-warning: rgb(218, 154, 86);
$color-danger: rgb(218, 95, 86);
$color-success: rgb(75, 206, 88);
$color-lite: #f8f9fa;
$color-dark: #343a40;

$tooltip-z: 1;
$alert-group-z: 2;
